html,
body {
  padding: 0;
  margin: 0;
  background: rgb(131,58,180);
background: linear-gradient(65deg, rgba(131,58,180,1) 7%, rgb(226, 103, 101) 36%, rgb(207, 74, 74) 50%,  rgb(179, 4, 120) 100%);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

/* background: rgb(240,46,99); */
/* background: linear-gradient(123deg, rgba(240,46,99,1) 0%, rgba(219,35,89,1) 100%); */
background-color: #172b35;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}

.layout {
  display: flex;
  flex-direction: column;
}










@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
