.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #df517c;
    padding: 20px;
    font-size: larger;
    color: #fff;
}

.icon {
 cursor: pointer;
 font-size: 30px;
}